.add-note {
  padding: 1rem;
  margin: 1rem;
  background-color: #ade6d0;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.16rem 1.6rem #ade6d0;
  fill: orangered;
  cursor: pointer;
}
