.note {
  padding: 1rem;
  margin: 1rem;
  background-color: #f1f0cf;
  flex-shrink: 0;
  width: 13rem;
  height: 13rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.16rem 1.6rem #f1f0cf;
  color: black;
}
